[submodule "Assets/Plugins/Shared-Lib"]
	path = Assets/Shared-Lib
	url = https://github.com/antontidev/Shared-Lib.git
[submodule "Assets/Plugins/Tags"]
	path = Assets/Plugins/Tags
	url = https://github.com/neon-age/Tags.git
[submodule "HybridCLRData/il2cpp_plus_repo"]
	path = HybridCLRData/il2cpp_plus_repo
	url = git@gitee.com:focus-creative-games/il2cpp_plus.git
[submodule "HybridCLRData/hybridclr_repo"]
	path = HybridCLRData/hybridclr_repo
	url = git@gitee.com:focus-creative-games/hybridclr.git
